.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(8, 15, 34);
}

.main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 0rem;
    width: 50rem;
    height: 100vh;
    padding: 5rem 0 0 0;
    background-color: var(--fondo-main);
    box-shadow: rgba(0, 5, 10, 0.2) 0px 4px 14px;

}

.main-info,
.search-bar {
    opacity: 0;
    animation: 2s main-animation 0.5s ease-in-out forwards;
}

.main-info p {padding-bottom: 10px;}

@keyframes main-animation {
    0% {
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.main h1 {
    font-size: 4rem;
    font-weight: 500;
    /* color: var(--blanco); */
    color: rgb(7, 134, 253);
    text-align: center;
    padding-bottom: 10px;
}

.main h1 span {
    margin-left: 7px;
}

.main p,
.search-bar input {
    font-size: 1.7rem;
    color: var(--blanco);
    letter-spacing: 0.1rem;
}

.search-bar {
    width: 90%;
    padding: 0 1.3rem;
}

.search-bar input {
    margin: 2rem 0;
    border-radius: 1rem;
    width: 100%;
    height: 4.5rem;
    padding: 0 2rem;
    background-color: rgb(16, 28, 61);
    border: none;
    outline: none;
    box-shadow: rgba(0, 5, 10, 0.1) 0px 8px 10px;
}

::placeholder {
    color: rgba(29, 50, 109, 0.692);
    opacity: 1;
}

/* Lupa */
.main>h1>span {
    font-size: 3.2rem;
}

.emoji-items-container {
    height: 100%;
    width: 90%;
}

.emoji-items-container {
    padding: 0 1.3rem;
    overflow-y: auto;
}

.emoji-item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(16, 28, 61);
    margin: 0.8rem 0;
    padding: 0 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 5, 10, 0.1) 0px 8px 10px;
}

.emoji-item:hover {
    /*  background-color: rgb(8, 15, 34); */
    background-color: rgb(1, 112, 216);
    cursor: pointer;
}

.emoji-item span {
    display: flex;
    margin: 0.7rem 0 0.5rem 0;
    background-color: var(--blanco);
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}

.emoji-item h2 {
    margin-left: 1rem;
    color: var(--blanco);
    font-weight: 300;
    font-size: 1.8rem;
}

.emoji-item p {
    display: none;
    font-size: 1.6rem;
    margin-left: auto;
}

.emoji-item:hover p {
    display: block;
    color: rgb(255, 255, 255);
    /* color: rgb(7, 134, 253); */
}

.emoji-item:active {
    box-shadow: rgba(0, 5, 10, 0.4) 0px 8px 10px;
}

.no-results {
    height: 100%;
    color: var(--blanco);
    font-size: 1.7rem;
}