.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--blanco);
}

.footer p {
    margin: 0 .5rem;
}

.footer a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-top: 0.3rem;
}

.iconify {
    color: var(--blanco);
    margin: 0 .5rem;
}