.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    color: rgb(20, 20, 20);
}

.footer p {
    background-color: rgba(0, 255, 0, 0);
    margin: 0 .5rem;
}

.footer a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    background-color: rgba(0, 255, 0, 0);
    margin-top: 0.3rem;
}

.iconify {
    color: rgb(20, 20, 20);
    margin: 0 .5rem;
}